---
import doctorImage from "@images/hero/doctor_2-min.png";
import backgroundImage from "@images/hero/hero_bg_3-min.png";
import { Image } from "astro:assets";

import Button from "@/components/button/Button.astro";
import { getLocaleFromUrl } from "@/js/localeUtils";
import { getLocalizedRoute, getTranslatedData, useTranslations } from "@/js/translationUtils";

const currLocale = getLocaleFromUrl(Astro.url);
const t = useTranslations(currLocale);
---

<section
  class="relative isolate mx-auto flex w-full items-center overflow-hidden"
  aria-label="Hero section"
>
  <Image
    src={backgroundImage}
    alt="Blue healthcare background"
    class="pointer-events-none absolute inset-0 z-0 h-full w-full object-cover dark:brightness-25"
    aria-hidden="true"
  />

  <div
    class="site-container relative flex h-full min-h-full grow flex-col items-center justify-between gap-8 md:flex-row"
  >
    <div id="hero-shapes-trigger" class="max-w-2xl flex-1 pt-30 md:py-44 lg:pb-50">
      <h1
        data-mos-anchor="#hero-shapes-trigger"
        data-mos="fade-right"
        class="text-foreground leading-tighter font-heading mb-4 text-4xl font-semibold md:text-5xl xl:text-7xl"
      >
        We Help Patients Live Longer,
        <span class="text-primary-accent">Healthier </span>
        Lives
      </h1>
      <p
        data-mos-anchor="#hero-shapes-trigger"
        data-mos="fade-right"
        data-mos-delay=".2"
        class="text-muted-foreground mb-8 text-lg md:text-xl"
      >
        Experience exceptional healthcare with our dedicated team of medical professionals. We're
        committed to your well-being and providing personalized care.
      </p>
      <Button
        type="button"
        href={getLocalizedRoute(currLocale, `#contact`)}
        variant="primary"
        class="md:text-lg"
        aria-label="Book An Appointment"
        data-mos-anchor="#hero-shapes-trigger"
        data-mos="fade-right"
        data-mos-delay=".4"
      >
        Book An Appointment
      </Button>
    </div>
    <div
      class="xs:h-[360px] mt-auto flex h-[300px] justify-end md:h-[500px] md:pt-20 lg:h-[600px] xl:h-[700px]"
    >
      <Image
        src={doctorImage}
        alt="Smiling healthcare professional with stethoscope"
        class="m-0 h-full w-auto object-contain p-0 align-bottom"
        width={700}
        densities={[1.5, 2]}
        loading="eager"
      />
    </div>
  </div>
</section>
