/* buttons, 4 variants: "primary", "secondary", "outline", "ghost" */
.button {
	@apply flex items-center justify-center px-6 py-2.5 text-center;
	@apply text-primary-foreground flex w-fit min-w-[8rem] rounded-md;
	@apply disabled:pointer-events-none;
	transition-property:
		color, background-color, border-color, text-decoration-color, fill, stroke, --tw-gradient-from,
		--tw-gradient-via, --tw-gradient-to;
	transition-timing-function: var(--default-transition-timing-function);
	transition-duration: var(--default-transition-duration);
}

.button--primary {
	@apply text-primary-foreground bg-primary hover:bg-primary/80;
}

/* gradient version of primary button */
.button--secondary {
	@apply text-primary-foreground bg-secondary hover:bg-secondary/80;
}

.button--outline {
	@apply text-primary border-primary border-2;
	@apply hover:bg-primary hover:text-white;
}

.button--ghost {
	@apply text-foreground hover:bg-foreground/10;
}
