@import url("./fonts.css");

@import "tailwindcss";

/* tailwind plugins */
@plugin "@tailwindcss/forms";
@plugin "tailwindcss-animate";

/* dark mode */
@custom-variant dark (&:where(.dark, .dark *));

/* theme definition import */
@import "./tailwind-theme.css";

/* other imports into specific layers */
@import "./aos.css" layer(utilities);
@import "./markdown-content.css" layer(components);

/* https://tailwindcss.com/docs/adding-custom-styles#using-css-and-layer */
@layer base {
	:root {
		--background: var(--color-base-50);
		--foreground: var(--color-base-950);
		--card: var(--color-base-50);
		--card-foreground: var(--color-base-950);
		--popover: var(--color-base-50);
		--popover-foreground: var(--color-base-950);
		--primary: var(--color-primary-700);
		--primary-foreground: var(--color-base-50);
		--secondary: var(--color-fuchsia-700);
		--secondary-foreground: var(--color-base-50);
		--muted: var(--color-base-100);
		--muted-foreground: var(--color-base-600);
		--accent: var(--color-base-200);
		--accent-foreground: var(--color-base-900);
		--info: var(--color-sky-300);
		--info-foreground: var(--color-sky-950);
		--success: var(--color-green-300);
		--success-foreground: var(--color-green-950);
		--warning: var(--color-amber-300);
		--warning-foreground: var(--color-amber-950);
		--error: var(--color-red-700);
		--error-foreground: var(--color-base-50);
		--border: var(--color-base-200);
		--input: var(--color-base-200);
		--outline: var(--color-primary-600);
		--radius: 0.5rem;
	}

	.dark {
		--background: var(--color-base-950);
		--foreground: var(--color-base-50);
		--card: var(--color-base-950);
		--card-foreground: var(--color-base-50);
		--popover: var(--color-base-950);
		--popover-foreground: var(--color-base-50);
		--primary: var(--color-primary-700);
		--primary-foreground: var(--color-base-50);
		--secondary: var(--color-fuchsia-300);
		--secondary-foreground: var(--color-base-950);
		--muted: var(--color-base-900);
		--muted-foreground: var(--color-base-400);
		--accent: var(--color-base-900);
		--accent-foreground: var(--color-base-100);
		--info: var(--color-sky-300);
		--info-foreground: var(--color-sky-950);
		--success: var(--color-green-300);
		--success-foreground: var(--color-green-950);
		--warning: var(--color-amber-300);
		--warning-foreground: var(--color-amber-950);
		--error: var(--color-red-800);
		--error-foreground: var(--color-base-50);
		--border: var(--color-base-800);
		--input: var(--color-base-800);
		--outline: var(--color-primary-600);
		--radius: 0.5rem;
	}

	/* starwind preflight merged with Cosmic Themes */
	* {
		@apply border-border;
	}
	*:focus-visible {
		@apply outline-outline !transition-none;
	}
	html {
		@apply bg-background text-foreground leading-[1.6rem] scheme-light dark:scheme-dark;
		scroll-behavior: smooth;
		-moz-text-size-adjust: none;
		-webkit-text-size-adjust: none;
		text-size-adjust: none;
	}
	button {
		@apply cursor-pointer;
	}
}

@layer components {
	.site-container {
		@apply mx-auto max-w-[90rem] px-4;
	}

	/* styles navbar links */
	.nav__link--base {
		@apply text-muted-foreground hover:text-foreground transition;
	}
}

@layer utilities {
	/* focus utility class (for when user is tabbing through items on page) */
	.primary-focus {
		@apply focus-visible:outline-primary-500 focus-visible:rounded-xs focus-visible:outline-2;
	}

	/* transition-colors but without outline-color transition property */
	.starwind-transition-colors {
		transition-property:
			color, background-color, border-color, text-decoration-color, fill, stroke,
			--tw-gradient-from, --tw-gradient-via, --tw-gradient-to;
		transition-timing-function: var(--default-transition-timing-function);
		transition-duration: var(--default-transition-duration);
	}
}
