---
import Button from "@/components/button/Button.astro";
---

<section class="overflow-hidden py-24">
	<div class="site-container">
		<div class="bg-gradient-radial-dark rounded-6xl py-14" data-aos="fade-up" data-aos-delay="0.5">
			<div class="mx-auto px-4 text-center md:max-w-2xl">
				<span class="badge">Zenith Card</span>
				<h2 class="h3 mb-6">Industry insights you wan`t delete. Delivered to your inbox weekly</h2>
				<p class="text-muted-foreground mx-auto mb-12 max-w-lg">
					Join 10,000 founders, get early access to Zenith features, and learn how to squeeze every
					drop of revenue
				</p>
				<Button
					href="https://cosmicthemes.com/themes/zenith"
					target="_blank"
					rel="noopener"
					class="mx-auto px-14">Get Zenith</Button
				>
			</div>
		</div>
	</div>
</section>
